@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');



:root{
    --logo-font: 'Pathway Gothic One', sans-serif;
    --serif-font: 'Playfair Display', serif;
    --roboto-font: 'Roboto', sans-serif;
    --black: #202020;
    --gray: #333533;
    --dark-yellow: #ffd100;
    --light-yellow: #ffee32;
    --pale-gray: #d6d6d6;
    --palest-gray: #f1f1f1;
    --notepad-icon: "<i class='fi fi-sr-memo-pad'></i>";
    --subtask-icon: "<i class='fi fi-sr-rectangle-list'></i>";
    --filled-star: "<i class='fi fi-sr-star'></i>";
    --empty-star: "<i class='fi fi-rr-star'></i>";
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--serif-font);
}
body{
display: flex;
flex-direction: column;
align-items: center;
color: var(--gray);
width: 100vw;
height: 100vh;
background-color:var(--palest-gray);
}

header{
   width: 100%;
   border-bottom: 1px solid var(--gray)
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 1.3rem;
}

.logo-text a:hover{
    color: var(--gray);
}
.logo-img:hover{
    color: var(--gray);
}

.logo-text a{
    color: var(--dark-yellow);
    font-family: var(--logo-font);
    margin-left: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.logo-img{
    padding-top: 0.5rem;
    color: var(--light-yellow);
    transition: 0.3s; 
    cursor: pointer;

}

nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: 0.8rem;
}
.nav{
    padding: 1rem;
    transition: 0.3s;
    border-radius: 0.75rem;
    cursor: pointer;
}
.nav:hover{
    color: var(--light-yellow);
    background-color: var(--gray);
}
.right-header-div{
    display: flex;
}
.add-task{
    font-size: 2rem;
    font-weight: 900;
    padding: 0rem 1rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.add-task:hover{
    color: var(--light-yellow);
    background-color: var(--gray);

}

.profile{
    font-size: 1rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
}

.profile:hover{
    color: var(--light-yellow);
    background-color: var(--gray);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 1rem;
    background-color: var(--gray);
}

footer li{
    font-family: var(--roboto-font);
    color: var(--pale-gray);
    font-size: 0.7rem;
    list-style: none;
}


/* css for task */

.task-card{
    border: 1px solid var(--dark-yellow);
    padding: 1rem;
    margin: 0rem 1rem;
    border-radius: 1rem;
    position: relative;
    background-color: white;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.678);
    margin-bottom: 1rem;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.st{
    background-color: var(--black);
    width: 100%;
    height: 1px;
    z-index: 100;
    position: absolute;
    top: 45%;

}
.left-card{
    display: flex;
    position: relative;
    cursor: pointer;
}

.square-checked{
    position: absolute;
    left: -.25rem;
    top: -.25rem;
    font-size: 1.5rem;
    color:var(--dark-yellow);
}
.stars {
    color: var(--dark-yellow);
    cursor: pointer;
}
.task-name{
    font-family: var(--roboto-font);
    margin-left: 1.5rem;
}
.subtask-card{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

.notes-card{
    position: relative;
    border: 1px solid var(--light-yellow);
    border-radius: 1rem;
    padding: 1rem;
}
.notes-card.inactive{
    border: none;
    padding: 0rem;
}
.close-notes{
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-family: var(--roboto-font);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem 1rem;
}
.close-notes:hover{
    color: red;
}
.close-notes.inactive{
    display:none;
}
.notes-text{
    margin-top: 0.5rem;
}
.notes-text.inactive{
    display: none;
}
.notes-card a{
    font-size: 1.15rem;
    text-decoration: none;
    color: var(--dark-yellow);
    transition: 0.3s;
    padding: 1.5rem;
}
.notes-card a:hover{
    color: var(--gray);
}


@media (width > 600px){
    header {
        max-width: 1200px;
        border-bottom: none;
    }
    .main-content{
        max-width: 1200px;
        width: 100%
    }
    .logo{
        font-size: 2.5rem;
    }
    .logo-img{
        padding-top: 1rem;

    }
    nav{
        font-size: 1rem;
    }
    .profile{
        font-size: 1.25rem;

    }
}